## This is an example .env for running SuperDesign locally on your machine


# Backend(/server) .env required for the whole tRPC MCP Server
FIGMA_CLIENT_ID=""
FIGMA_CLIENT_SECRET=""

FRAMER_CLIENT_ID=""
FRAMER_CLIENT_SECRET=""



